* {
  cursor: pointer;
  color: rgb(243, 255, 234);
  font-family: sans-serif;
}

.App {
  text-align: center;
}

App,
body,
html,
#root {
  background-color: #0A1929;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.movie-card {
  width: 300px;
  min-height: 500px;
  background-color: rgb(0, 30, 60);
  color: steelblue;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid rgb(37, 56, 76);
}

.movie-card img {
  width: 200px; 
  border-radius: 5px;
  padding: 20px;
}

.movie-card p {
  color:rgb(178, 186, 194);;
  padding: 20px;
}

.movie-card h2 {
  color: rgb(224, 227, 231);
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input:hover {
  border: 2px solid white;
}

.input {
  border-radius: 5px;
  background-color: rgb(224, 227, 231);
}

.page-title {
  color: goldenrod;
  font-size: 3rem;
}

.results {
  color: rgb(224, 227, 231);
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  border: 1px solid rgb(37, 56, 76)
}